.Wrapper {
  width: 80vw;
  max-height: 25vh;
  padding: 5% 0;

  border-radius: 9px;
  background-color: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(1px);

  color: white;
  font-size: 1.2rem;
  font-weight: lighter;
}
