.DailyWrapper {
  display: flex;
  width: 80vw;
  padding: 20px;
  gap: 5%;
  justify-content: space-around;
  flex-wrap: nowrap;

  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #818181 #00000000;

  border-top: 3px solid white;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(1px);
}
